* {
    font-size: 20px;
}  

.cardProducto {
    width: 16rem;
    margin: 4px;
    background-color: rgba(212, 212, 212, 0.158);
}  

.cardBody {
    background-color: rgb(255, 255, 255);
    margin-bottom: 3px;
    text-align: center;
}  

.cardProductos {
    margin: 4px;
    align-items: center;
    justify-content: center;
}  

img {
    margin-top: 3px;
}  

.itemDetail {
    max-width: 540px;
    margin-top: 20px;
}